mixin form__input(placeholder)
    label(for=placeholder.toLowerCase() class='form__seo-label')=placeholder
    input(
        id=placeholder.toLowerCase()
        type="text" 
        placeholder=placeholder
        name=placeholder.toLowerCase() 
        class='form__input'
    )